.photo{
    padding-top: 50px;
    padding-left: 60px;
}

header#simple h1{
    padding-top: 10px;
    padding-left: 22px;
}

header#simple h2{
    padding-left: 40px;
}

ul#categories{
    padding-top:20px;
}

ul#categories li{
    padding-top:10px;
    padding-left:28px;

}

